/* This stylesheet is for the login screen on the home page*/
$font-color: #3C3D3E;

body {
  color: $font-color;
}

input {
  margin: 10px 0px;
  max-width: 350px;
}

#login {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
}
