/* This stylesheet is for the login screen on the home page*/
/* line 4, ../sass/login.scss */
body {
  color: #3C3D3E;
}

/* line 8, ../sass/login.scss */
input {
  margin: 10px 0px;
  max-width: 350px;
}

/* line 13, ../sass/login.scss */
#login {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
}
