/* This stylesheet is for the login screen on the home page*/
/* line 5, ../sass/login.scss */
body {
  background: #E1E1E1;
  font-family: 100% Tahoma;
}

/* line 10, ../sass/login.scss */
input {
  margin: 10px 0px;
}

/* line 14, ../sass/login.scss */
#login {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
}
