/* line 18, ../sass/patient.scss */
body {
  font-size: 16px;
  font-family: Segoe UI;
}

/* line 23, ../sass/patient.scss */
img {
  vertical-align: top;
  width: 25%;
  height: auto;
}

/* line 29, ../sass/patient.scss */
h1 {
  font-size: 2em;
}

/* line 33, ../sass/patient.scss */
.hello {
  vertical-align: top;
  display: inline;
}

/* line 38, ../sass/patient.scss */
h2 {
  font-size: 1.5em;
}

/* line 42, ../sass/patient.scss */
h3 {
  font-size: 1.17em;
}

/* line 46, ../sass/patient.scss */
h4 {
  font-size: 1.12em;
}

/* line 50, ../sass/patient.scss */
h5 {
  font-size: 0.83em;
}

/* line 54, ../sass/patient.scss */
h6 {
  font-size: 0.75em;
}

/* line 58, ../sass/patient.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 62, ../sass/patient.scss */
tr.header {
  background: #D5D5D5;
}

/* line 67, ../sass/patient.scss */
#patient-header {
  background-color: #6179BA;
}

/* line 72, ../sass/patient.scss */
.navbar-default {
  border: 0;
}

/* line 75, ../sass/patient.scss */
.navbar-default .navbar-brand {
  color: #ffffff;
}

/* line 79, ../sass/patient.scss */
.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 83, ../sass/patient.scss */
.sidebar a, .dropdown-menu > li > a {
  color: #424242;
}

/* line 87, ../sass/patient.scss */
.nav > li > a:focus, .nav > li > a:hover, .dropdown-menu > li > a:focus, .dropbown-menu > li > a:hover {
  background-color: #f5f5f5;
}

/* line 92, ../sass/patient.scss */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 35px;
  margin-left: -20px;
}

/* line 97, ../sass/patient.scss */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

/* line 102, ../sass/patient.scss */
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: rgba(97, 121, 186, 0.65);
}

/* line 110, ../sass/patient.scss */
.main {
  float: right;
}

/* line 114, ../sass/patient.scss */
.report {
  margin: 1% 2%;
}

/* line 118, ../sass/patient.scss */
.weight, .height, .bp {
  background: #f5f5f5;
  border: 1px solid #D5D5D5;
  padding: 2%;
  margin: 1% 1%;
  text-align: center;
  max-width: 265px;
  -webkit-box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.15);
}

/* line 130, ../sass/patient.scss */
#appt {
  display: inline;
  padding: 1% 2%;
  margin: 2%;
  background-color: #F7F78F;
  border: 1px solid #D5D5D5;
}
/* line 137, ../sass/patient.scss */
#appt a {
  color: #424242;
}
/* line 141, ../sass/patient.scss */
#appt .close {
  font-size: 30px;
  float: right;
}
